# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Canoe
subtitle:   「ろくでなし」
description: 
keywords: 
author: Orekiyuta
language: 
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://www.orekiyuta.cn
root: /
permalink: :category/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: lang
skip_render: README.md

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:
  
# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: archives
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
full_format: YYYY-MM-DD => HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy:
  type: git
  repo: https://github.com/OrekiYuta/OrekiYuta.github.io.git
  branch: master
  
# Live2D
# https://github.com/xiazeyu/live2d-widget.js
# https://l2dwidget.js.org/docs/class/src/index.js~L2Dwidget.html#instance-method-init
live2d:
  model:
    scale: 0.4
    hHeadPos: 0
    vHeadPos: 0
    use: live2d-widget-model-tororo
  display:
    superSample: 2
    width: 200
    height: 200
    position: left
    hOffset: 0
    vOffset: 0
  mobile:
    show: false
    scale: 0.4
  react:
    opacityDefault: 0.7
    opacityOnHover: 0.2

# type - Feed type. (atom/rss2)
# path - Feed path. (Default: atom.xml/rss2.xml)
# limit - Maximum number of posts in the feed (Use 0 or false to show all posts)
# hub - URL of the PubSubHubbub hubs (Leave it empty if you don't use it)
# content - (optional) set to 'true' to include the contents of the entire post in the feed.
feed:
  type: rss
  path: rss.xml
  limit: 10
  hub:
  content: 'true'

search:
  path: search.xml
  field: post
  format: html
  limit: 10000

tagcanvascloud:
  enable: true